aiohttp==3.8.6
aiohttp-socks==0.8.4
aiosignal==1.3.1
aniso8601==9.0.1
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.3
blinker==1.6.2
blis==0.2.4
bottle==0.12.25
Brotli==1.1.0
browser-cookie3==0.19.1
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2024.6.2
cffi==1.15.0
charset-normalizer==3.1.0
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
click==8.1.7
cryptography==42.0.8
cssselect2==0.7.0
curl_cffi==0.6.4
cymem==2.0.7
defusedxml==0.7.1
dnspython==2.6.1
duckduckgo_search==6.1.7
email_validator==2.2.0
exceptiongroup==1.2.1
fastapi==0.111.0
fastapi-cli==0.0.4
Flask==2.2.5
Flask-Cors==3.0.10
frozenlist==1.4.1
g4f==0.3.2.1
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
itsdangerous==2.1.2
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
loguru==0.7.2
lz4==4.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
mathparse==0.1.2
mdurl==0.1.2
multidict==6.0.5
murmurhash==1.0.9
mysql-connector-python==8.0.33
nest-asyncio==1.6.0
nltk==3.8.1
numpy==1.21.6
orjson==3.10.6
packaging==23.1
pillow==10.4.0
Pint==0.18
pkgutil_resolve_name==1.3.10
plac==0.9.6
platformdirs==4.2.2
plyer==2.1.0
preshed==2.0.1
protobuf==3.20.3
proxy-tools==0.1.0
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.8.0
pydantic_core==2.20.0
PyExecJS==1.5.1
Pygments==2.18.0
pymongo==3.13.0
pyreqwest_impersonate==0.4.8
pyrsistent==0.19.3
python-dateutil==2.7.5
python-dotenv==1.0.1
python-multipart==0.0.9
python-socks==2.5.0
pytz==2023.3
pywebview==5.1
PyYAML==5.1.2
regex==2023.5.5
requests==2.30.0
rich==13.7.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.6
starlette==0.37.2
thinc==7.0.8
tinycss2==1.3.0
tqdm==4.65.0
typer==0.12.3
typing_extensions==4.12.2
ujson==5.10.0
Unidecode==1.3.6
urllib3==2.0.2
uvicorn==0.30.1
uvloop==0.19.0
wasabi==0.10.1
watchfiles==0.22.0
webencodings==0.5.1
websockets==12.0
Werkzeug==2.2.3
yarl==1.9.4
zipp==3.15.0
